/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 font-family: 'Courier New', Courier, monospace;
}

.container{
    display: grid;
    grid-template-columns: repeat(2fr 1fr 1fr 1fr);
    grid-template-rows: 50px ;
    gap: 5px;

}

.item-1{
    grid-column: 1/6;
    grid-row: 1/5;
    background-color: yellowgreen;
    margin: 2px; 
}
.item-2{
    background-color: pink;
    margin: 2px
    
}
.item-3{
    grid-row: 1 / 5;
    grid-column: 10/ 14;
    background-color: pink;
    margin: 2px;
/* } 
.container .item-4{
    grid-row: 1 / 5;
    grid-column: 1/4;
    background-color: pink;
    margin: 2px;
} 

/* .container-1 .item-5{
    grid-column: 1/6;
    grid-row: 1/15; 
    background-color: pink;
} */

/* .container-2 .item-6{
    grid-column: 1/100;
    grid-row: 7/19;
    background-color: goldenrod;
} */


 /* footer{
    background-color: burlywood;
    font-size: 1rem;
} 
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 50px;
    gap: 3px;
 }

 .item-1{
    background-color: lightgreen;
 }

 .item-2{
background-color: palevioletred;
 }
 .item-3{
    background-color: palevioletred;
 }

.item-4{
    background-color: palevioletred;
}

.container-1{
    grid-template-columns: 4.5fr;
    grid-template-rows: 100px;
    margin-bottom: 10px;

} 
.item-5{
    background-color: gold;
}
.item-6{
    background-color: violet;
    grid-column: 300px;
}



